@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
body{
    background-color: #FFECF3;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
}
.header{
    
    
}
.header__row{
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo__text{

    font-weight: 700;
    font-size: 20px;
    color: #EA4C37;
}
.menu{
    display: flex;
    gap: 60px;

}
.menu__link{
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    color: #EA4C37;
    list-style: none;
}


.footer{
    background-color: #EA4C37;
    
}
.footer__row{
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}
.copy{

    font-weight: 700;
    font-size: 20px;
    color: #FFECF3;
}
.menu{
    display: flex;
    gap: 60px;

}
.fio{
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    color: #FFECF3;
    list-style: none;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner__info{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.banner__title{
    font-weight: 400;
    font-size: 100px;
    font-weight: 700;
    line-height: 94%;
    color: #843a1a;
}
.banner__title_red{
    color: #ea4c37;
}
.rabbit__image{
    width: 685px;
}
.banner__text{
    font-weight: 400;
    font-size: 24px;
    color: #543030;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 200px; /* Ширина карточки */
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card img {
    width: 100%; /* Адаптивное изображение */
    height: auto; /* Автоматическая высота */
    border-radius: 4px;
}
.card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}
.card p {
    font-size: 1em;
    color: #333;
}